:root {
 --blue: #4FACFE;
 --gradient: linear-gradient(to right, #4FACFE, #3A4DCC);
}


#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  background-color: white;
}

.center {
  display:flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}