.location-fields {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.input-group {
  flex: 1;
  width: 100%;
}

.location-input-container {
  position: relative;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}


/* Style for the datalist dropdown */
input::-webkit-calendar-picker-indicator {
  opacity: 0.6;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

/* Hover state */
.location-input-container input:hover {
  border-color: #999;
}
